{% extends 'base.html' %}
{% block titulo %}Contato{% endblock %}
{% block conteudo %}
    <h1>Contato</h1>

    {% if form.errors %}
        <div class="alert alert-danger">
            Corrija o{{ form.errors|pluralize }} erro{{ form.errors|pluralize }} abaixo.
        </div>
    {% endif %}

    {% if send %}
      <div class="alert alert-info alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        E-mail enviado com sucesso. Em breve entraremos em contato.
      </div>
    {% endif %}

    <form action="/contato/" method="post">{% csrf_token %}
      <div class="form-horizontal">
      {% for field in form %}
        <div class="form-group">
          <label class = "control-label col-md-3" for="{{field.id}}">{{field.label_tag}}</label>
          {{field}}
          <span class="help-block">{{field.errors.as_text}}</span>
        </div>
      {% endfor %}
      <div class="col-md-offset-3 col-md-10 lead">
          <button type="submit" class="btn btn-primary">Enviar mensagem</button>
      </div>
      </div>
    </form>

{% endblock %}